/* -----------------------------------------
-- 1st : emro DesignTeam scyang
2024.06.20 catalog style sources
----------------------------------------- */

@charset "utf-8";
/* catalog-page */
.catalog-page {
    margin: 20px auto;
    width: 1200px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;   
    overflow: auto;
}
/* catalog-serach-container */
.catalog-search-container {
    width: 410px;
    margin: 0 auto;
}
/* catalog-searchbar */
.catalog-searchbar {
    position: relative;
    width: 410px;
    height: 36px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}
.catalog-searchbar input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 38px 0 15px;
    margin-top: -1px;
    box-sizing: border-box;
}
#homeSearchBar .field-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 5px;
}

.catalog-searchbar input::placeholder {
    color: #666 !important;
}
.catalog-searchbar .search_btn {
    position: absolute;    
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    background: url(../img/catalog/ico_search.svg) center no-repeat;
}
/* catalog-search-history */
.catalog-search-history {
    display: flex;    
    line-height: 1;
    margin: 7px 0 0 14.5px;
    font-size: 12px;
}
.catalog-search-history ul {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}
.catalog-search-history ul::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #888;
    margin-top: 1.5px;
}
.catalog-search-history button {
    font-size: 12px;
    color: #888;
}
/* catalog-search-result */
.catalog-search-result {
    font-size: 20px;
    margin: 35px 0;
    text-align: center;
}
.catalog-search-result span {
    color: #6449FC;
}
/* catalog=result-container */
.catalog-result-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
/* catalog-tab-container */
.catalog-tab-container {
    display: flex;    
    justify-content: space-between;
}
.catalog-tab {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #666;
    border-radius: 5px 5px 0 0;
    border: 1px solid #d6d6d6;
    border-left: none;
    background: #fff;
    cursor: pointer;
    box-sizing: border-box;
}
.catalog-tab-container .catalog-tab:first-of-type {
    border-left: 1px solid #d6d6d6;
}
.catalog-tab:hover {
    border-bottom-color: #fff;
}
.catalog-tab.active {
    border-top: 5px solid #6449FC;
    border-bottom-color: #fff;
    color: #6449FC;
    line-height: 31px;
}
/* catalog-result-page */
.catalog-result-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px 40px;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-radius: 0 0 10px 10px;
    background: #fff;
}
/* catalog-result-page button */
.catalog-result-page button,
.catalog-popup .popup-cont button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0 12px;
    font-size: 13px;
    color: #666;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    transition: all 0.2s;
}
.catalog-result-page button.puple,
.catalog-popup button.puple,
.catalog-result-page button:hover,
.catalog-result-page button.active,
.catalog-popup .popup-cont button:hover,
.item-purchase-button button,
.item-purchase-button sc-button,
.catalog-result-page sc-button:hover,
.catalog-result-page sc-button[active],
.catalog-result-page sc-button.puple {
    background: #6449FC;
    border-color: #6449FC;
    color: #fff;
}
.item-purchase-button button:hover,
.item-purchase-button sc-button:hover,
.catalog-result-page button.puple:hover,
.catalog-result-page sc-button.puple:hover,
.catalog-popup button.puple:hover
.catalog-popup sc-button.puple:hover{
    background: #4835b8;
    border-color: #4835b8;
    color: #fff;
}
.catalog-result-page button.h-gray:hover,
.catalog-popup button.h-gray:hover {
    background: #aaa;    
    border-color: #aaa;
    color: #fff;
}
/* catalog-page-toolbar */
.catalog-page-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.catalog-page-toolbar button {
    font-size: 14px;
}
.catalog-page-toolbar.pd-15 {
    padding: 5px 0 15px;
}
/* result-sort-type */
.result-sort-type ul {
    display: flex;
    gap: 15px;
}
.result-sort-type button,  .result-sort-type a{
    font-size: 14px;
    color: #666;
    border: none;
    padding: 0;
}
.result-sort-type button:hover,
.result-sort-type li a:hover,
.result-sort-type li.active a,
.result-sort-type button.active {
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
}
/* wrap-btn */
.catalog-page-toolbar button.cart::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(../img/catalog/ico_cart.svg) center no-repeat;
}
button.cart:hover::before {
    background-image: url(../img/catalog/ico_cart_w.svg);
}
/* catalog-page-cont */
.catalog-page-cont {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;   
    box-sizing: border-box;
}
/* catalog-page-selector */
.catalog-page-selector,
.catalog-page-selector >div {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.catalog-page-selector {
    margin-top: 20px;
    margin-bottom: 10px;
}
.catalog-page-selector >div {
    gap: 5px;
}
.catalog-page-selector button {
    width: 30px;
    padding: 0;
    text-align: center;
}
.catalog-page-selector .first,
.catalog-page-selector .last {
    background: #F5F5F5 url(../img/catalog/ico_page_arrow_double.svg) no-repeat center;
}
.catalog-page-selector .prev,
.catalog-page-selector .next {
    background: #F5F5F5 url(../img/catalog/ico_page_arrow.svg) no-repeat center;
}
.catalog-page-selector .first:hover,
.catalog-page-selector .last:hover {
    background: #6449FC url(../img/catalog/ico_page_arrow_double_w.svg) no-repeat center;
}
.catalog-page-selector .prev:hover,
.catalog-page-selector .next:hover {
    background: #6449FC url(../img/catalog/ico_page_arrow_w.svg) no-repeat center;
}
.catalog-page-selector .next {
    transform: rotate(180deg);
    background-position-x: 9px;
}
.catalog-page-selector .last {
    transform: rotate(180deg);
    background-position-x: 6px;
}

/* ==================================== 카탈로그 탭 전용 ==================================== */
/* catalog-item-container */
.catalog-item-container {
    display: flex;
    align-items: center;
    padding: 20px 20.5px 20px 30px;
    border-top: 1px solid #ddd;
}
.catalog-page-cont .catalog-item-container:first-of-type {
    padding-top: 10px;
    border-top: none;
}
.catalog-page-cont .catalog-item-container:last-of-type {
    padding-bottom: 10px;
}
/* item-checkbox */
.catalog-item-container .item-checkbox {
    margin-right: 20.5px;
}
input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
}
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff url(../img/catalog/ico_checkbox.svg) no-repeat center;
}
/*sc-listbox>.check-default{
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
}
sc-listbox>.check-default:before{
    vertical-align: middle;
    font:normal normal normal 14px/1 FontAwesome;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff url(../img/catalog/ico_checkbox.svg) no-repeat center;
}
sc-listbox>.check-default .item-selected:before{
    background: #fff url(../img/catalog/ico_checkbox_active.svg) no-repeat center;
}*/
sc-listbox>.check-default:before {
    content:url(../img/catalog/ico_checkbox.svg);
    vertical-align: middle;
    margin: 6px 3px;
}
sc-listbox>:hover {
    background: none;
}
sc-listbox>.check-default.item-selected:before {
    content:url(../img/catalog/ico_checkbox_active.svg);
}

input[type="checkbox"]:checked::before {
    background: #fff url(../img/catalog/ico_checkbox_active.svg) no-repeat center;
}
input[type="checkbox"]+label {
    margin-left: 7px;
    font-size: 14px;
}
/* item-img */
.catalog-item-container .item-img {
    width: 120px;
    height: 120px;    
    border: 0px solid #ddd;
    box-sizing: border-box;
    /*background: url(../img/catalog/item_img_computer.png) no-repeat center;*/
    background-size: cover;
}
.catalog-item-container .item-img img{
    max-width : 120px;
    min-width: 120px;
    max-height : 120px;
    min-height: 120px;
}
/* item-info */
.catalog-item-container .item-info {
    margin-left: 28.5px;
    width: calc(100% - 565px);
    line-height: 1.2;
    font-size: 13px;
    color: #666;
    font-weight: 400;
}
.catalog-item-container .item-info >div {
    margin-top: 12px;
}
.item-info .info-title a {
    font-size: 15px;
    color: #000;
    text-decoration: underline;
    text-underline-position: under;
    margin-top: 0;
}
.item-info .info-title a:hover {
    color: #6449FC;
}
.item-info .info-txt span::before,
.item-info .info-category span::before {
    content: '|';
    display: inline-block;
    color: #aaa;
    margin: 0 4px 0 2px;
}
.item-info .info-category span::before {
    content: '>';
}
.item-info .info-txt span:first-of-type:before,
.item-info .info-category span:first-of-type:before {
    display: none;
}
.catalog-item-container .item-cost {
    font-size: 15px;
    width: 128px;
    text-align: right;
}
.catalog-item-container .item-company {
    width: 165px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
/* ==================================== 단가계약 탭 전용 ==================================== */
table.grid {
    width: 100%;
}
table.grid td {
    padding: 0 5px;
    line-height: 28px !important;
}
table.grid td:last-child {
    border-right: none;
}
table.grid td.item-size {
    width: 30%;
}
table.grid td.company {
    width: 20%;
}
table.grid .checkbox {
    width: 40px !important;
}
table.grid tbody td {
    border: none !important;
}
table.grid tbody tr:last-child {
    border-bottom: 1px solid #808080;
}
table.grid tbody td {
    line-height: 25px !important;
}
/* ==================================== 이전구매요청 탭 전용 ==================================== */
/* period_contianer */
.period_container,
.period_selector,
.period_field {
    display: flex;
}
.period_container {
    gap: 12px;
}
.period_title {
    font-size: 14px;
    color: #000;
    width: 45px;
}
.period_selector {
    gap: 5px;
}
.period_selector sc-button {
    font-size: 13px;
}
.period_field .field-container {
    width: 144px;
    border-color: #d6d6d6;
}
.period_field >span {
    font-size: 14px;
    color: #000;
    padding: 0 6px;
}
.period_field .trigger-container,
.catalog-popup .trigger-container,
.catalog-popup .trigger {
    width: 32px !important;
}
.period_field .trigger {
    margin-right: 6px;
}
.item-select-condition .trigger.date::before,
.period_field .trigger.date::before,
.catalog-popup .trigger.date::before {
    background: url(../img/catalog/ico_catalog_calendar.svg) no-repeat center;
}
/* ==================================== 품목검색 탭 전용 ==================================== */
.catalog-item-search-container {
    background: #F9F9F9;
    padding: 20px;
    padding-right: 18px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 18px;    
}
/* item-search-condition-group */
.item-search-condition-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 38.5px;
    width: 100%;
}
.col--2 {
    grid-column: span 2;
}
/* item-search-condition */
.item-search-condition {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 30px;
}
/* sc-label */
.item-search-condition .sc-label {
    width: 80px;
    font-size: 13px;

}
/* fieldset */
.item-search-condition .fieldset {
    width: calc(100% - 68px);
    height: 100%;
    display: flex;
    gap: 5px;
}
.item-search-condition .field-container {
    width: 100%;
    height: 100%;
    background: #fff;
    border-color: #D6D6D6;
}
.item-search-condition .trigger-container {
    width: 28px !important;
}
.item-search-condition .trigger {
    margin-right: 6px;
}
.item-select-condition .trigger.arrow::before,
.item-search-condition .trigger.arrow::before {
    background-image: url(../img/catalog/ico_search_arrow.svg);
}
/* item-search-btn-group */
.item-search-btn-group {
    width: 58px;
}
.item-search-btn-group button {
    width: 100%;
    box-sizing: border-box;
    border: none;
}
.item-search-btn-group button.search {
    height: 44px;
    background: #6449FC url(../img/catalog/ico_item_search.svg) center no-repeat;
    border-radius: 5px;
}
.item-search-btn-group button.reset {
    height: 22px;
    background: #898c9a url(../img/catalog/ico_reset.svg) center no-repeat;
    border-radius: 3px;
    margin-top: 5px;
}
.item-search-btn-group button.search:hover {
    background-color: #4835b8;
}
.item-search-btn-group button.reset:hover {
    background-color: #6f727c;
}
.catalog-result-page .grid-toolbar {
    background: #fff;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: right;  ] 
}
.catalog-result-page .grid-toolbar button {
    font-size: 14px;
}
/* ==================================== 팝업 전용 ==================================== */
/* 팝업 - 상세정보 */
.catalog-popup-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 99999;
}
.catalog-popup {
    width: 100%;
    height: 100%;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%; !* 상세정보 팝업 가로길이 *!
    height: 95%; !* 상세정보 팝업 세로길이 *!
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding:0px 30px;
    border: none;*/
}
.catalog-popup .popup_title {
    width: 100%;
    height: 50px;
    background: #424242;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 20px;
}
.catalog-popup .popup_title .close button {
    width: 14px;
    height: 14px;
    background: url(../img/catalog/ico_popup_close.svg) no-repeat center;
    background-size: cover;
    opacity: 0.5;
}
.catalog-popup .popup_title .close button:hover {
    opacity: 1;
}
.catalog-popup .popup-cont-wrap {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
}
.popup-cont-wrap .popup-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;    
    box-sizing: border-box;
}
/* item_major_info */
.popup-cont .item_major_info {
    display: flex;
    gap: 40px;
    height: 480px;
    margin-bottom: 10px;
}
/* item-thumpnail */
.item_major_info .item-thumpnail {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-thumpnail .big-img {
    width: 400px;
    height: 400px;
    background-size: cover;
    box-sizing: border-box;
    /*border: 1px solid #D6D6D6;*/
    /*background: url(../img/catalog/item_thump_big_sample.png) center no-repeat;*/
}
.item-thumpnail .small-img-list ul {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.small-img-list .small-img {
    width: 50px;
    height: 50px;
    background-size: cover;
    box-sizing: border-box;
    /*border: 1px solid #D6D6D6;*/
    /*background: #F7F7F7;*/
    /*cursor: pointer;*/
    background-size: cover;
}
/*.small-img-list li:nth-child(1) {
    background: url(../img/catalog/item_thump_small_sample_01.png) center no-repeat;
}
.small-img-list li:nth-child(2) {
    background: url(../img/catalog/item_thump_small_sample_02.png) center no-repeat;
}
.small-img-list li:nth-child(3) {
    background: url(../img/catalog/item_thump_small_sample_03.png) center no-repeat;
}
.small-img-list li:nth-child(4) {
    background: url(../img/catalog/item_thump_small_sample_04.png) center no-repeat;
}*/
/* item-info */
.item-info {
    width: 100%;
}
.item-info .item-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 15px;
}
/* item-sub-info */
.item-sub-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
}
.item-sub-info >div {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    color: #666;
}
.item-sub-info .sc-label {
    min-width: 63px;
    font-size: 12px;
    color: #555;
    text-align: center;
    border-radius: 3px;
    background: #EDEDED;   
}
/* item-cost */
.item_major_info .item-cost {
    font-size: 24px;
    color: #000;
    border-top: 1px solid #DDDDDD;
    padding-top: 15px;
    line-height: 1.2;
    text-align: right;
}
/* item-search-condition-group */
.item-select-condition-group {
    display: flex;
    flex-direction: column;
    margin: 30px 0 20px;
    gap: 10px;
}
.item-select-condition {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 30px;
}
.item-select-condition .sc-label {
    width: 160px;
    font-size: 13px;
}
.item-select-condition .fieldset {
    width: calc(100% - 108px);
    height: 100%;
}
.item-select-condition .field-container {
    height: 100%
}
.field-container.number input {
    text-align: center;
}
.trigger.minus::before {
    background: url(../img/catalog/ico_minus.svg) center no-repeat;
}
.trigger.plus::before {
    background: url(../img/catalog/ico_plus.svg) center no-repeat;
}
.trigger.disable::before {
    opacity: 0.37;
}
/* wrap-btn */
.item_major_info .wrap-btn {
    display: flex;
    gap: 7px;
    padding-top: 15px;
    border-top: 1px solid #cbcbcb;
}
.item_major_info .wrap-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;    
    line-height: 1.2;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    color: #666;
    transition: all 0.2s;
}
.item_major_info button.cart::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/catalog/ico_cart.svg) no-repeat center;
    background-size: contain;
    margin-right: 8px;
}
.item_major_info button.cart:hover {
    background: #aaa;    
    border-color: #aaa;
    color: #fff;
}
.item_major_info button.cart:hover::before {
    background-image: url(../img/catalog/ico_cart_w.svg);
    background-size: contain;
}
.item_major_info button.puple {
    border-color: #6449FC;
    color: #fff;
}
/* item_detail_info */
.item_detail_info .detail_info_title {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}
/* detail_info_table */
.detail_info_table table {
    width: 100%;    
    border: 1px solid #CBCBCB;
}
.detail_info_table tr {
    border-top: 1px solid #CBCBCB;
}
.detail_info_table tr:first-child {
    border-top: none;
}
.detail_info_table th,
.detail_info_table td {
    height: 38px;
    font-size: 12px;
    line-height: 1.2;
    vertical-align: middle;
    border-left: 1px solid #cbcbcb;
}
.detail_info_table th {
    width: 13%;
    background-color: #F2F2F2;
    font-weight: 500;
    color: #000;
    text-align: center;
}
.detail_info_table tr th:first-of-type {
    border-left: none;
}
.detail_info_table td {
    width: 37%;
    text-align: left;
    color: #666;
    padding: 0 12px;
}
/* detail_info_img */
.detail_info_img {
    margin-top: 30px;
}
.detail_info_img img {
    width: 100%;
}
/* 팝업 - 장바구니 */
.catalog-popup.cart {
    /*width: 1200px;*/
}
/* cart-toolbar */
.cart-toolbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 11px;
    border-bottom: 1px solid #ddd;
}
.catalog-popup.cart .catalog-page-cont {
    padding-bottom: 20px;
}
/* catalog-item-container */
.catalog-popup.cart .catalog-item-container:first-child {
    padding-top: 20px;
}
/* item-info */
.catalog-popup.cart .item-info {
    width: calc(100% - 486px);
}
/* change-condition-group */
.change-condition-group,
.change-condition {
    display: flex;
    height: 30px;
    gap: 10px;
    align-items: center;
}
.catalog-popup.cart .field-container {
    width: 120px;
    height: 30px;
    border-color: #D6D6D6;    
}
.change-condition .sc-label {
    color: #000;
}
.catalog-popup.cart .item-cost {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    text-align: center;
}
.catalog-popup.cart .item-cost .field-container {
    width: 100%;
}
.catalog-popup.cart .item-company {
    width: 142px;
}
/* cart-result */
.cart-result {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
.total-cost {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.total-cost .cost {
    color: #6449FC;
    font-weight: 600;
}
.cart-result .purchase-button button {
    display: flex;
    align-items: center;
    width: 216px;
    height: 50px;    
    font-size: 20px;
    font-weight: 500;
}


sc-tabbar{
    height: 36px !important;
    position: relative;
}
sc-tab-navigation#catalogTabNavi sc-tabbar{
    display: flex;
    justify-content: space-between;
}
sc-tabbar div.content {
    height: 36px !important;
    margin-right: 0px;
    width: 90%;
}

sc-tab-navigation#catalogTabNavi sc-tab {
    width: 25%;
    line-height: 36px;
    text-align: center;
    color: #666;
    border-radius: 5px 5px 0 0;
    border: 1px solid #d6d6d6;
    background: #fff;
    cursor: pointer;
    box-sizing: border-box;
}
sc-tab-navigation#catalogTabNavi sc-tab[active]
 {
    border-top: 5px solid #6449FC;
    border-bottom-color: #fff;
    color: #6449FC;
    line-height: 31px;
}
sc-tab-navigation#catalogTabNavi sc-tab:hover {
    border-bottom-color: #fff
}
sc-tab-navigation#catalogTabNavi>div.content-wrap>div.content {
    background-color: #fff;
    margin-top: 0px;
    border: 0 solid transparent;
    box-shadow: none;
    overflow-y: hidden;
}
.catalog-tab-container .catalog-tab:first-of-type {
    border-left: 1px solid #d6d6d6;
}
sc-tabbar>.scroller {
    display: none;
}
