/* ------ 담당자 주석 표기, 주석 표기 시 가급적 영문표기(언어 설정 에러 시 한글 깨짐), 주요 부분 주석 표기, 사용하지 않는 부분 삭제, 에러 시 오타 확인 ---- */
/* -------------------- WorkPlace --------------------*/
/* ----------------------------------------------------
--- 1st : 2022.12.21 pjsuny emro DesignTeam
---------------------------------------------------- */

@charset "utf-8";

/** RESET **/
 html body div span, 
h1, h2, h3, h4, h5, h6, p, a,ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html body .wpWrap  {
	width:	100%;
	height: 100%;
	/* line-height: 1;*/
}
body .wpWrap {
  	font-size: 13px;
  	font-family: 'Malgun Gothic', 맑은 고딕, dotum, '돋움', gulim, '굴림', Arial;
  	color: #333333;
	-webkit-text-size-adjust: none;
	line-height: 28px;
	letter-spacing: 0px;
}


.wpWrap a, em, label, span, strong, button {
	display: inline-block;
}
.wpWrap a, a:link, a:visited {
	cursor: pointer;
	text-decoration: none;
}
.wpWrap p, a, h2, h3 {
	word-wrap: break-word;
}

.wpWrap img, input, button, select, textarea {
	vertical-align: middle;
}
.wpWrap .hidden {
	overflow: hidden;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	z-index: -1;
}
.wpWrap table {
	border-spacing: 0;
	border-collapse: collapse;
}
.wpWrap button {
  padding: 0;
  background: 0;
  border: 0;
  cursor: pointer;
  letter-spacing: 0px;
}
.wpWrap button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.wpWrap input, select, textarea {
	font-size: 100%;
}
.wpWrap div, a {
	box-sizing: border-box;
}
.wpWrap a {
	transition: background .2s;
	cursor: pointer;
}

/* placeholder-color */
.wpWrap ::placeholder {
	color: #999;
	opacity: 0.5; /* Firefox */
}
.wpWrap :-ms-input-placeholder {
	color: #999 !important; /* Internet Explorer 10-11 */
}
.wpWrap ::-ms-input-placeholder {
	color: #999 !important;/* Microsoft Edge */
}
.wpWrap .clear {
	clear: both;
}

.wpWrap {
  padding: 10px;
}
.wpTitleBar { 
  position: relative;
  width: 100%;
  height: 48px;
  /* 2023.03.04 jhj 주석
  border-bottom: 1px solid #4C5D69; 
  */
}
.wpTitleBar h3 { 
  display: inline-block;
  position: absolute;
  left: 0;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  line-height: 36px;
}
.wpTitleBar .searchBar { 
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 36px;
}
.wpTitleBar .searchBar sc-text-field { 
  position: relative;
  width: 100%;
  height: 100%;
  background: #F4F6F8;
  border-radius: 50px;
  font-weight: 700;
  color: #333333;
  box-sizing: border-box;
	border:none;
}
.wpTitleBar .searchBar sc-text-field>div {
	width:100%;
  background: #F4F6F8;
  border: none;
  border-radius: 50px;
  padding: 0 20px;
}
.wpTitleBar .searchBar sc-text-field input{
  background: #F4F6F8;
  width: 100%;
  height: 100%;
  background: #F4F6F8;
  padding: 0 20px;
  font-weight: 700;
  color: #333333;
  box-sizing: border-box;
  border-radius: 50px;
  border:1px solid #9D9D9D;
}
.wpTitleBar .searchBar sc-text-field::placeholder {
  color: #333333 !important;
}
.wpTitleBar .searchBar button.btn_search { 
  position: absolute;
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../img/img_wp.png) no-repeat 0 8px;
  right: 10px;
}
.wpTitleBar sc-button.btn_newTask { 
  display: inline-block;
/*   position: absolute; */
/*   right: 0; */
  width: 100px;
  height: 28px;
  background: #535354;
  border: 1px solid #535354;
  border-radius: 50px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 25px;
  margin-left: 20px;
}

/* 2023.03.04 jhj 추가 */
.wpTitleBar sc-button.btn_newTask span {
	vertical-align: middle;	
}

.wpTitleBar sc-button.btn_newTask::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/img_wp.png) no-repeat 0 -118px;
  vertical-align: middle;
  margin-right: 10px;
}
.wpTitleBar sc-button.btn_newTask:hover {
  background: #000000;
} 
.wpPanel { 
   width: 100%;
   margin-top: 5px;
}
.wpPanel .sTitleBar { 
  position: relative;
  width: 100%;
  /* height: 34px; */
}
.wpPanel .sTitleBar>h4 {
  display: inline-block;
  position: absolute;
  left: 0; 
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
}
.wpPanel .sTitleBar>button.btn_collapsible { 
  display: inline-block;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background: url(../img/img_wp.png) no-repeat 5px -184px;
  font-size: 0;
}
.wpPanel .sTitleBar>button.spread { 
  transform: rotate(180deg);
}
.wpPanel .innerPanel { 
  width: 100%;
  border: 1px solid #DDDDDD;
}
.wpPanel .innerPanel>.tabBar { 
  display: flex;
  justify-content: left;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #DDDDDD;
  padding: 0 20px;
}
.wpPanel .innerPanel>.tabBar>a { 
  display: inline-block;
  padding: 0 10px;
  margin: 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  color: #777777;
}

.wpPanel .innerPanel>.tabBar>a:hover { 
  color: #0E71B9;
}
.wpPanel .innerPanel>.tabBar>a.on { 
  color: #0E71B9;
  border-bottom: 2px solid #0E71B9;
}
.wpPanel .innerPanel>.tabBar>a.all { 
   color: #000000;
}
.wpPanel .innerPanel>.tabContent { 
  width: 100%;
}
.wpPanel .innerPanel .flexBox_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.wpPanel .innerPanel .flex_1 {
  flex: 1;
}
.wpPanel .innerPanel .flex_9 {
  flex: 9;
}
.wpPanel .innerPanel .bg_lgrey {
  background: #F7F9FC;
}
/*.wpPanel .innerPanel .mainTask {*/
/*  padding: 8px 15px;*/
/*}*/
.wpPanel .taskCard { 
  flex: 0 0 auto; 
  display: inline-block;  
  width: 185px;
  height: 250px;
  background: #FFFFFF;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); 
}
.wpPanel .mainTC {
  margin: 15px; 
}
.wpPanel .taskHead {
  display: table;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  padding: 5px 15px;
  font-weight: 600;
  color: #333333;
  /* 2023.02.15 
  padding: 0 20px;
  height: 50px;
  border-bottom: 1px solid #EEEEEE;
  */
}
#taskStatusBox .taskHead {
  display: table;
  justify-content: space-between;
  width: 100%;
  padding: 0px 15px;
  font-weight: 600;
  color: #333333;
  /* 2023.02.15 
  padding: 0 20px;
  height: 50px;
  border-bottom: 1px solid #EEEEEE;
  */
}
.wpPanel .taskBox .taskHead {
	cursor : pointer;
}

.wpPanel .taskTask_row .taskHead {
	cursor: pointer;
}

.wpPanel .taskHead>b {
  display: table-cell;
  vertical-align: middle;
  pointer-events : none;
}
.wpPanel .taskHead>b:nth-child(1) {
  width: 60%;
  font-size: 23px;
}
  /* 2023.02.15 추가  */
.wpPanel .detailTask .taskHead>b:nth-child(1) {
  width: 75%;
  font-size : 15px;
}
.wpPanel .taskHead>b.number {
  width: 40%;
  font-size: 32px;
  text-align: right;
}
.wpPanel .detailTask .taskHead>b.number {
  /* 2023.02.15 추가   */
  width: 25%;
  text-align: right;
  font-size: 16px;
}
.wpPanel .taskDataGrid {
  padding: 0px 15px;
  height: 35%;
}
.wpPanel .taskDataGrid ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 26px;
  margin: 0 5px;
}
.wpPanel .taskDataGrid ul li {
  display: flex;
  justify-content: space-between;
  cursor : pointer;
}
.wpPanel .taskDataGrid ul li>span {
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
  pointer-events:none;
}
.wpPanel .taskDataGrid ul li>span:nth-child(1) {
  font-size: 12px;
  color: #8E8E8E;
}
.wpPanel .taskDataGrid ul li>span.number {
  font-size: 16px;
  text-align: right;
  cursor: pointer;
}

/* Main Task */
.wpPanel .mainTC.delay {
  border-top: 5px solid #EB7575;
}
.wpPanel .mainTC.imminent {
  border-top: 5px solid #F5BC5F;
}
.wpPanel .mainTC.normal {
  border-top: 5px solid #72B0EA;
}
.wpPanel .mainTC .statusLine {
  display: flex;
  width: 100%;
  height: 8px;
  background: #EEEEEE;
  margin-top: 10px;
}
.wpPanel .mainTC .statusLine>span {
  width: auto;
  height: 100%;
  vertical-align: top;
  margin-right: 1px;
  cursor: pointer;
}
.wpPanel .mainTC .statusLine>span:last-child {
  margin-right: 0;
}
.wpPanel .mainTC .list {
  width: 100%;
  background: #F4F6F8;
  padding: 10px 15px;
  height:35%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.wpPanel .mainTC div:last-child[class="list"].list {
  border-radius: 0 0 8px  8px;
}
.wpPanel .mainTC .list ul li {
  position: relative;;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.wpPanel .mainTC .list ul li:hover {
  border-bottom: 1px solid #888888
}
.wpPanel .mainTC .list ul li.text_delay:hover {
  border-bottom: 1px solid #EB7575
}
.wpPanel .mainTC .list ul li.text_imminent:hover {
  border-bottom: 1px solid #F5BC5F
}
.wpPanel .mainTC .list ul li>span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  color: #555555;
  pointer-events:none;
}
.wpPanel .mainTC .list ul li .date {
  width: 25%;
}
.wpPanel .mainTC .list ul li .date + span {
  width: 65%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.wpPanel .mainTC .list ul li.new:after {
  content: 'N';
  position: absolute;
  right: 0;
  top: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #99BE5E;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}
.wpPanel .mainTC .utillity {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}
.wpPanel .mainTC .utillity>div {
  width: 30%;
  padding: 0 6px;
  border-right: 1px solid #DDDDDD;
}
.wpPanel .mainTC .utillity>div:last-child {
  border-right: 0;
}
.wpPanel .mainTC .utillity>div p {
  margin: 3px auto;
}
.wpPanel .mainTC .utillity div p.number {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}
.wpPanel .mainTC .utillity div p.memo {
  background: #8386C0;
}
.wpPanel .mainTC .utillity div p.reallo {
  background: #5FBDC4;
}
.wpPanel .mainTC .utillity div p.delet {
  background: #7C7C7C;
}
.wpPanel .mainTC .utillity div p:nth-child(2) {
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #555555;
}
/* Detail Task */
.wpPanel .innerPanel .detailTC {
  border: 2px solid;
}
.wpPanel .innerPanel .detailTask {
  padding: 20px 30px;
}
.wpPanel .detailTask .flexBox_row {
  flex-wrap: nowrap;
}
.wpPanel .detailTask .flexBox_row>.taskCard:nth-child(1) {/*2023.02.15 pjsuny*/
  width: 115px;
}
/*  sub work 의 메인워크 카드일 경우 커서 포인터 */
.wpPanel .detailTask .taskCard.mainTask {
	cursor : pointer;
}
/*  sub work 의 메인워크 카드일 경우 포인터 이벤트 발생 X */
.wpPanel .detailTask .taskCard.mainTask .taskHead{
	pointer-events: none;
}

.wpPanel .detailTask .taskCard {
  width: 160px;
  height: 60px;
  margin: 10px 0;
  /* 2023.02.15
  height: 80px;
  */
}
.wpPanel .innerPanel .detailTask_row>.detailTC {
  border: 1px solid;
}
.wpPanel .detailTask .dataDataLine ul {
  display: flex;
  justify-content: left;
}
.wpPanel .detailTask .detailTask_row {
  margin-left: 30px;
}
.wpPanel .detailTask .detailTask_row .arrow {
  width: 30px;
  margin: 0 5px;
}
.wpPanel .detailTask .detailTask_row .arrow.next {
    width: 30px;
    background: url(../img/img_wp.png) no-repeat -117px 32px;
    margin: 0 5px;
}
.wpPanel .detailTask .detailTask_row .arrow.back {/*2024.02.02 pjsuny*/
    background: url(../img/img_wp.png) no-repeat -117px 32px;
    transform: rotateY(180deg);
}
.wpPanel .detailTask .detailTask_row .arrow.bar {/*2024.02.02 pjsuny*/
    background: url(../img/img_wp.png) no-repeat -117px 32px;
    background-position-x: -90px;
}
.wpPanel .detailTask .detailTask_row {
  display: flex;
  flex-wrap: wrap;
}
/*  서브워크 데이터 없을 경우 클릭 이벤트 발생 X */
.wpPanel .detailTask .detailTask_row .taskCard.disable {
	pointer-events:none;
}
	
.wpPanel .detailTask .taskHead {
  height: 38px;
  /* 2023.02.15 
  height: 50px;
  */
}

/* sub work 카드의 헤더 (sub work nm, sub sork count)  */
.wpPanel .detailTask .detailTask_row .taskHead {
	cursor: pointer;
}

.wpPanel .detailTask .taskDataGrid {
  padding: 3px 20px;
    display: none;
}
.wpPanel .detailTask .detailTask_row .taskHead>b:nth-child(1) {
  font-size: 12px;
  line-height: 12px;
  word-break: break-word;
  /* 2023.02.15 
  line-height: 16px;
  font-size: 14px;
  */
}
.wpPanel .detailTask .dataDataLine {
  display: flex;
  justify-content: space-between;
  padding: 3px 15px;
  /* 2023.02.15 
  padding: 24px 20px;
  */
}
.wpPanel .detailTask .dataDataLine .statusLine {
  display: flex;
  width: 100%;
  height: 8px;
  background: #EEEEEE;
  /* 2023.02.15
  margin-top: 15px;
  */
}
.wpPanel .detailTask .dataDataLine2 .statusLine:nth-child(1) {
  width: 80%
}
.wpPanel .detailTask .dataDataLine .statusLine.new {
  width: 20%;
  margin-left: 10px;
}
.wpPanel .detailTask .dataDataLine .statusLine>span {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: top;
  margin-right: 1px;
  cursor: pointer;
}

.wpPanel .detailTask .dataDataLine .statusLine>span:last-child {
  margin-right: 0;
}
.wpPanel .detailTask .dataDataLine .statusLine>span>b {
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  top: -30px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
	display: none;
}
.wpPanel .detailTask .dataDataLine .statusLine>span[style="width: 0%"]>b {
  font-size: 0;
}
/* Task Card Disable */
.disable {
  opacity: .55;
  border-color: #bdbdbd !important;
}
.disable .taskHead {
  color: #969595 !important;
}
.disable .statusLine>span {
  background: #cfcfcf !important;
}
.disable .statusLine>span>b {
  color: #969595 !important;
}

/* Task List */
.wpPanel .innerPanel .taskBar {
  width: 100%;
  height: 38px;
  background: #F7F9FC;
  border-bottom: 1px dashed #CECECE;
  padding: 7px 10px;
}
.wpPanel .innerPanel .taskBar>span.taskT {
  width: auto;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 50px;
  padding: 0px 10px;
  font-weight: 700;
  font-size: 12px;
  color: #555555;
  line-height: 20px;
  vertical-align: top;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 5px;
}
.wpPanel .innerPanel .taskBar>span.taskT:hover {
  border: 1px solid #888888;
}
/* 2023.02.25 주석. taskT:after의 x 버튼을 b태그로 대체함.
 .wpPanel .innerPanel .taskBar>span.taskT:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../img/img_wp.png) no-repeat 4px -291px;
  margin: 6px 0 0 10px;
  vertical-align: top;
} */
.wpPanel .innerPanel .taskBar>span.taskT>.close {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../img/img_wp.png) no-repeat 4px -291px;
  margin: 6px 0 0 10px;
  vertical-align: top;
}
.wpPanel .innerPanel .taskBar>span[class="taskT all"]:after {
  background: url(../img/img_wp.png) no-repeat -26px -291px;
}
.wpPanel .innerPanel .taskBar>span.all {
  background: #666666;
  border: 1px solid #666666;
  color: #FFFFFF;
}
.wpPanel .innerPanel .taskBar>span.all:hover {
  background: #333333;
  border: 1px solid #333333;
}
.wpPanel .innerPanel .statusBar {
  width: 100%;
  height: 58px;
  background: #F7F9FC;
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 20px;  
}
.wpPanel .innerPanel .statusBar>div.statusT {
  display: inline-block;
  width: auto;
  height: 38px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 15px;
  margin: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.wpPanel .innerPanel .statusBar>div.statusT>span {
  display: inline-block;
  padding: 0 5px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  vertical-align: top;
  line-height: 20px;
}
.wpPanel .innerPanel .statusBar>div.statusT .check {
  width: 3px;
  height: 22px;
  background: url(../img/img_wp.png) no-repeat 0 -230px;
}
.wpPanel .innerPanel .statusBar>div.statusT .number {
  width: 40px;
  height: 22px;
  background: #FFFFFF;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}
div.statusT>span {
	pointer-events: none;
}
.wpPanel .innerPanel .statusBar>div.statusT.off {
  opacity: .5;
  background: #cbcbcb;
}
.wpPanel .innerPanel .statusBar>div.statusT.off .check {
  background: none;
}
.wpPanel .innerPanel .statusBar>div.statusT.off>span.number {
  box-shadow: none;
  color: #cbcbcb !important;
}

/* Status */
.text_all {
  color: #666666 !important;
}
.text_delay {
  color: #EB7575 !important;
}
.text_imminent {
  color: #F5BC5F !important;
}
.text_normal {
  color: #72B0EA !important;
}
.text_new {
  color: #99BE5E !important;
}
.text_delay span {
  color: #EB7575 !important;
}
.text_imminent span {
  color: #F5BC5F !important;
}
.text_normal span {
  color: #72B0EA !important;
}
.text_new span {
  color: #99BE5E !important;
}
.bg_all {
  background: #666666;
}
.bg_delay {
  background: #EB7575;
}
.bg_imminent {
  background: #F5BC5F;
}
.bg_normal {
  background: #72B0EA;
}
.bg_new {
  background: #99BE5E;
}
.bg_all:hover {
  background: #333333;
}
.bg_delay:hover {
  background: #e63535;
}
.bg_imminent:hover {
  background: #f0a021;
}
.bg_normal:hover {
  background: #358ee0;
}
.bg_new:hover {
  background: #7aad27;
}
.bg_delay b {
  color: #EB7575;
}
.bg_imminent b {
  color: #F5BC5F;
}
.bg_normal b {
  color: #72B0EA;
}
.bg_new b {
  color: #99BE5E;
}
.bd_delay {
  border-color: #EB7575 !important;
}
.bd_imminent {
  border-color: #F5BC5F !important;
}
.bd_normal {
  border-color: #72B0EA !important;
}
.bd_new {
  border-color: #99BE5E !important;
}

/* New Work */
.wpWrap.newwork .flexBox_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wpWrap.newwork_task .flexBox_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
} 
.newwork {
  padding: 100px 80px;
  box-sizing: border-box;
}
.newwork .title {
  font-weight: 400;
  font-size: 27px;
  text-align: center;
  color: #000000;
  line-height: 33px;
  margin-bottom: 80px;
}
.newwork .title>span {
  display: block;
  font-size: 14px;
  color: #666666;
}
.newwork .flexBox_row>div {
  display: inline-block;
  width: 150px;
  height: 160px;
  background: #EEEEEE;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  margin: 30px 15px;
}
.newwork .flexBox_row>div::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.newwork .flexBox_row>div>b {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 20px;
  padding: 0 20px;
}
.newwork .flexBox_row>div.pr {
  background: #F2576F;
  border: 1px solid #F2576F;
}
.newwork .flexBox_row>div.pr::before {
  background: url(../img/ico_pr.png) no-repeat center;
}
.newwork .flexBox_row>div.rfx {
  background: #F59645;
  border: 1px solid #F59645;
}
.newwork .flexBox_row>div.rfx::before {
  background: url(../img/ico_rfx.png) no-repeat center;
}
.newwork .flexBox_row>div.po {
  background: #6DBBDC;
  border: 1px solid #6DBBDC;
}
.newwork .flexBox_row>div.po::before {
  background: url(../img/ico_po.png) no-repeat center;
}
.newwork .flexBox_row>div.contract {
  background: #BACD44;
  border: 1px solid #BACD44;
}
.newwork .flexBox_row>div.contract::before {
  background: url(../img/ico_contract.png) no-repeat center;
}
.newwork .flexBox_row>div.me {
  background: #CC9CF5;
  border: 1px solid #CC9CF5;
}
.newwork .flexBox_row>div.me::before {
  background: url(../img/ico_me.png) no-repeat center;
}
.newwork .flexBox_row>div.gr {
  background: #7D6BF3;
  border: 1px solid #7D6BF3;
}
.newwork .flexBox_row>div.gr::before {
  background: url(../img/ico_gr.png) no-repeat center;
}
.newwork .flexBox_row>div.iv {
  background: #BC7AF4;
  border: 1px solid #BC7AF4;
}
.newwork .flexBox_row>div.iv::before {
  background: url(../img/ico_iv.png) no-repeat center;
}

.newwork .flexBox_row>div.pr:hover {
  background: #EB0024;
}
.newwork .flexBox_row>div.rfx:hover {
  background: #EE6E00;
}
.newwork .flexBox_row>div.po:hover {
  background: #0095D3;
}
.newwork .flexBox_row>div.contract:hover {
  background: #92AA00;
}
.newwork .flexBox_row>div.me:hover {
  background: #9833EF;
}

.newwork .flexBox_row>div.gr:hover {
  background: #452AF6;
}
.newwork .flexBox_row>div.iv:hover {
  background: #9114FD;
}

.newwork_task {  
  padding: 60px 130px;
  box-sizing: border-box;
  padding-bottom: 60px;
}
.newwork_task .subject {
  font-weight: 700;
  font-size: 27px;
  color: #333333;
  text-align: left;
  margin-bottom: 40px;
}
.newwork_task .subject::before {
  content: '';
  display: inline-block;
  width: 42px;
  height: 42px;
  background: #ECECEC;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.newwork_task .subject.pr::before {
  background: #ECECEC url(../img/ico_pr_g.png) no-repeat center;
}
.newwork_task .subject.rfx::before {
  background: #ECECEC url(../img/ico_rfx_g.png) no-repeat center;
}
.newwork_task .subject.po::before {
  background: #ECECEC url(../img/ico_po_g.png) no-repeat center;
}
.newwork_task .subject.contract::before {
  background: #ECECEC url(../img/ico_contract_g.png) no-repeat center;
}
.newwork_task .subject.me::before {
  background: #ECECEC url(../img/ico_mer_g.png) no-repeat center;
}
.newwork_task .greyBox {
  width: 980px;
  height: auto;
  background: #F7F9FC;
  border: 1px solid #DDDDDD;
  padding: 20px 10px;
  box-sizing: border-box;
}
.newwork_task .taskBox {
  flex: 0 1 auto;
  min-width: 208px;
  min-height: 280px;
  background: #F4F6F8;  
  border: 1px solid #9B9B9B;  
  border-radius: 8px;
  margin: 10px;
  box-sizing: border-box;
  width: 206px;
}
.newwork_task .taskBox>.title {
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  border-radius: 7px 7px 0px 0px;  
  border-bottom: 1px solid #EEEEEE;
  padding: 0 15px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  line-height: 64px;
}
.newwork_task .taskBox>.task {
  width: 100%;
  min-height: 122px;
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  padding: 5px 0;
  box-sizing: border-box;
}
.newwork_task .taskBox>.task>li {
  height: 30px;
  padding: 3px 10px;
}
.newwork_task .taskBox>.task>li>div {
  display: inline-block;
  width: 100%;
  height: 30px;
  border-radius: 50px;  
  padding: 0 10px;
  box-sizing: border-box;
}
.newwork_task .taskBox>.task>li>div>span {
  width: 100%;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  box-sizing: border-box;
}
.newwork_task .taskBox>.task.pr div {
  background: #F2576F;
}
.newwork_task .taskBox>.task.rfx div {
  background: #F59645;
}
.newwork_task .taskBox>.task.po div {
  background: #6DBBDC;
}
.newwork_task .taskBox>.task.contract div {
  background: #BACD44;
}
.newwork_task .taskBox>.task.me div {
  background: #CC9CF5;
}
.newwork_task .taskBox>.task.gr div {
  background: #7D6BF3;
}
.newwork_task .taskBox>.task.iv div {
  background: #BC7AF4;
}
.newwork_task .taskBox>.task.pr div:hover {
  background: #EB0024;
}
.newwork_task .taskBox>.task.rfx div:hover {
  background: #EE6E00;
}
.newwork_task .taskBox>.task.po div:hover {
  background: #0095D3;
}
.newwork_task .taskBox>.task.contract div:hover {
  background: #92AA00;
}
.newwork_task .taskBox>.task.me div:hover {
  background: #9833EF;
}
.newwork_task .taskBox>.task.gr div:hover {
  background: #452AF6;
}
.newwork_task .taskBox>.task.iv div:hover {
  background: #9114FD;
}
.newwork_task .taskBox>.list {
  width: 100%;
  background: #F4F6F8;
  border-radius: 0px 0px 7px 7px; 
  padding: 0 15px 10px;
  box-sizing: border-box;
}
.newwork_task .taskBox>.list>b {
  font-weight: 700;
  font-size: 11px;
  color: #555555;
}
.newwork_task .taskBox>.list>ul>li {
  font-weight: 400;
  font-size: 12px;
  color: #555555;
}
.newwork_task .taskBox>ul>li :not(.option) {
	pointer-events : none;
}
.newwork_task .taskBox>.list>ul>li {
  line-height: 22px;
}
.newwork_task .taskBox>.list>ul>li>span {
  vertical-align: top;
}
.newwork_task .taskBox>.list>ul>li>span:nth-child(1) {
  width: 25%;
}
.newwork_task .taskBox>.list>ul>li>span:nth-child(2) {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.newwork .title_str {
	pointer-events : none;
}