@charset "utf-8";
sc-panel.boxType {
    border: 1px solid #ececec;
}

sc-panel.boxType>sc-toolbar.header .title {
    width: calc(100% - 0px);
    font-size: 15px;
    color: #000;
    padding: 0px;
}

sc-panel.boxType>sc-toolbar.header {
    width: 100%;
    height: 34px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    padding: 8px 20px;
    border-bottom: 1px solid #e4e5eb;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 1px;
}

/* em-workplace */
cc-page-title-bar.em-workplace {border-bottom:0px;}
.page.em-workplace {margin-top:15px; border-top:0px;}
.cionGroup.em-workplace {position: absolute;right: 14px;min-width: 160px;height: 30px;top: 0px;}

/* em-sp-workplace */
cc-page-title-bar.em-sp-workplace {border-bottom:0px;}
.page.em-sp-workplace {margin-top:15px; border-top:0px;}
.cionGroup.em-sp-workplace {position: absolute;right: 14px;min-width: 120px;height: 30px;top: 0px;}


.cionGroup ul {display:flex;width:100%;height:inherit;}
.cionGroup ul li {position:relative;width:33.3%;height:inherit;padding:0 7px;box-sizing:border-box;}
/* .cionGroup ul li.setting {cursor: pointer;}
.cionGroup ul li.setting>.parent{
  display: flex;
  height: 33px;
}
.cionGroup ul li.setting>.parent>.gear{
  position: relative;
  width: 20px;
  height: 20px;
  margin: auto;
  background: #c0c0c0;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cionGroup ul li.setting>.parent>.gear>.center{
  position: absolute;
  top: 6px;
	left: 6px;
	z-index: 10;
	width: 8px;
	height: 8px;
  background: #fff;
  border-radius: 50%;
}

.cionGroup ul li.setting>.parent>.gear>.tooth{
  position: absolute;
  top: -4px;
  left: 8px;
  z-index: 1;
  width: 4px;
  height: 28px;
  background:#c0c0c0;
}

.cionGroup ul li.setting>.parent>.gear>.tooth:nth-child(2){
  transform: rotate(45deg);
}

.cionGroup ul li.setting>.parent>.gear>.tooth:nth-child(3){
  transform: rotate(90deg);
}

.cionGroup ul li.setting>.parent>.gear>.tooth:nth-child(4){
  transform: rotate(135deg);
} */
.cionGroup ul li.new {background:url(../img/ico_new.png) no-repeat 5px 9px; cursor: pointer;}
.cionGroup ul li.memo {background:url(../img/ico_memo.png) no-repeat 5px 9px; cursor: pointer;}
.cionGroup ul li.noti {background:url(../img/ico_noti.png) no-repeat 5px 9px; cursor: pointer;}
.cionGroup ul li.except {background:url(../img/ico_except.png) no-repeat 5px 9px; cursor: pointer;}
.cionGroup ul li b{position:absolute;top:0;left:16px;width:18px;height:18px;border:1px solid #fff;border-radius:50%;text-align:center;font-size:13px;color:#fff;line-height:1.2}
.cionGroup ul li .newN {background:#5e8fc1}
.cionGroup ul li .memoN {background:#50bdb6}
.cionGroup ul li .notiN {background:#7369b2}
.cionGroup ul li .exceptN {background:#6a6a6a}

/*2019.10.30 pjsuny*/
.cionGroup ul li.setting{padding: 6px 7px}
.cionGroup ul li.setting>a.person {display: inline-block;width: 26px;height: 21px;background: url(../img/ico_person.png) no-repeat 0 0;font-size: 0;vertical-align: middle}
.cionGroup ul li.setting>a:hover.person {position: relative;background: url(../img/ico_person.png) no-repeat 0 -51px;}

.panelWrapper.em-workplace {position: relative;}
.panelWrapper.em-workplace .panel {position:absolute;top:-1px;z-index:9;}

.panelWrapper.em-sp-workplace {position: relative;}
.panelWrapper.em-sp-workplace .panel {position:absolute;top:-1px;z-index:100;}

.panelWrapper .panel .statusTab {position:relative;top:0;left:0;width:auto;height:36px;line-height: 36px;}
.panelWrapper .panel .statusTab ul {display:flex;width:100%;height:inherit}
.panelWrapper .panel .statusTab ul li {position:relative;min-width:170px;padding:0 20px;text-align:center;margin-left:1px;box-sizing:border-box;}
.panelWrapper .panel .statusTab ul li b {display:inline-block;width:100%;font-size:15px;color:#686767}
.panelWrapper .panel .statusTab ul li.on b, .statusTab ul li:hover b {color:#4b7abd;cursor:pointer;}
.panelWrapper .panel .statusTab ul li.on, .statusTab ul li:hover {border-bottom:2px solid #4b7abd;}
.panelWrapper .panel .statusTab .bar {position: absolute;top: 9px;right: 0;display: inline-block;width: 1px;height: 20px;background: #e4e5eb;}


/*progress*/
.grey_box {
    position: relative;
    overflow: auto;
    width: 100%;
    padding: 15px 15px 0 15px;
    margin-bottom: 20px;
    background: #f9f9f9;
    border: 1px solid #cacaca;
    border-radius: 2px;
    box-sizing: border-box;
}

.chartbox{
			padding: 5px;
		}

.chart_wrap {
    position: relative;
    width: 900px;
    overflow: auto;
}

.chart_wrap .row {
    position: relative;
    height: 43px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.0em;
    box-sizing: border-box;
}

.chart_wrap .row:last-child {
    margin-bottom: 0
}

.chart_wrap .row .card {
    display: inline-block;
    float: left;
    min-width: 80px;
    min-height: 28px;
    border-radius: 7px;
    padding: 7px 10px;
    text-align: center;
    border: 1px solid #ccd1d8;
    background: #fff;
    color: #2d2d2d;;
    box-sizing: border-box;
    position:inherit;
}

.chart_wrap .row .card:last-child {
    margin-right: 0
}

.chart_wrap .row [data-state=now] {
    border: 0;
    background: #de513a;
    color: #fff;
}

.chart_wrap .row [data-state=prev] {
    border: 0;
    background: #c3c9c8;
    color: #2d2d2d;
}

.chart_wrap .row [data-state=next] {
    border: 0;
    background: #79b250;
    color: #fff;
}

.chart_wrap .arr_right {
    display: inline-block;
    float: left;
    width: 20px;
    height: 32px;
    background: url(../img/chart_arr_right.png) no-repeat right 12px
}

.chart_wrap .arr_right2 {
    position: absolute;
    width: 75px;
    height: 33px;
    background: url(../img/chart_arr_right2.png) no-repeat right 0
}

.chart_wrap .arr_right3 {
    position: absolute;
    width: 26px;
    height: 46px;
    background: url(../img/chart_arr_right3.png) no-repeat right bottom
}

.chart_wrap .arr_bottom {
    position: absolute;
    width: 25px;
    height: 15px;
    background: url(../img/chart_arr_bottom.png) no-repeat center bottom;
}

.chart_wrap .arr_top {
    position: absolute;
    width: 25px;
    height: 15px;
    background: url(../img/chart_arr_top.png) no-repeat center top
}

.chart_wrap .arr_left {
    display: inline-block;
    float: right;
    width: 20px;
    height: 32px;
    background: url(../img/chart_arr_left.png) no-repeat left 12px
}

.chart_wrap .arr_left2 {
    position: absolute;
    width: 26px;
    height: 46px;
    background: url(../img/chart_arr_left2.png) no-repeat left bottom
}

.flrg {
    float: right !important;
}

.chart_wrap .row .card .icon {
    display: none;
}

.chart_wrap .row .card[data-alrm_yn=Y] .alrm_img {
    display: block;
    position: absolute;
    top: -2px;
    left: 0px;
}

.chart_wrap .row .card[data-new_yn=Y] .new_img {
    display: block;
    position: absolute;
    top: -2px;
    left: 10px;
}

.chart_wrap .row .card[data-dely_yn=Y] .dely_img {
    display: block;
    position: absolute;
    top: -2px;
    left: 21px;
}


/* 디자인 */

.worknb {display:flex;width:100%;height:40px;border-bottom:1px solid #e4e5eb;background:#f5f6f7;box-sizing:border-box}
.worknb .taskM {width:auto;height:inherit;margin-left:20px;background:url(../img/ico_mainwork.png) no-repeat left 13px;}
.worknb .taskM .selectBox {position:relative;width:80px;height:22px;padding:7px 30px;}
.worknb .taskM .selectBox>input {width:inherit;height:inherit;border:0;background:transparent;font-size:14px;color:#333;font-weight:bold}

.worknb .taskM .selectBox>.resetWork {cursor: pointer;position:absolute;top:10px;right:0;width:20px;height:20px;background:url(../img/ico_refresh.png) no-repeat center;}


.worknb .arrow {width:11px;height:21px;margin:10px 15px;background:url(../img/arr_navi_w11.png) no-repeat;}
.worknb .taskS {padding-right: 10px;min-width:50px;height:23px;border:1px solid #c9cace;background:#fff;border-radius:3px;margin:8px 5px 0 0;}
.worknb .taskS b {font-size:13px;color:#333;font-weight:bold;padding:0 10px;line-height:1.7}
.worknb .taskS .deletes {display:inline-block;width:7px;height:8px;background:url(../img/btn_delete_s.png) no-repeat;cursor: pointer;}
.worknb>.resetWork {cursor: pointer;margin: 10px 15px;width:20px;height:20px;background:url(../img/ico_refresh.png) no-repeat center;}

.workstatusBar {position:relative;display:flex;width:100%;height:50px;border-bottom:1px solid #e4e5eb;background:#eeeff1;box-sizing:border-box}
.workstatusBar .taskBox {display:flex;width:auto;height:inherit;margin-left:15px;margin-top:6px}
.workstatusBar .taskBox .task {position:relative;min-width:122px;height:36px;border-radius:8px;margin:0 5px; cursor:pointer;background:#dfdfdf;color:#858585;}
.workstatusBar .taskBox .red {background:#cf5d5b}
.workstatusBar .taskBox .orange {background:#e4af4e}
.workstatusBar .taskBox .green {background:#98bf55}
.workstatusBar .taskBox .blue {background:#5e8fc1}
.workstatusBar .taskBox .task>span {display:inline-block;width:36px;height:24px;border-radius:45%;background:#fff;margin:6px 0 0 20px;text-align:center;font-size:16px;vertical-align:top; pointer-events: none;}
.workstatusBar .taskBox .task>b {display:inline-block;font-size:15px;font-weight:bold;color:#fff;padding-left:15px;padding-top:5px;line-height:1.5; pointer-events: none;}
.workstatusBar .taskBox .task>.tR {color:#cf5d5b}
.workstatusBar .taskBox .task>.tO {color:#efb54a}
.workstatusBar .taskBox .task>.tG {color:#92be47}
.workstatusBar .taskBox .task>.tB {color:#5387bb}

.workstatusBar .taskBox .red:before {display:block;content:"";position:absolute;bottom:-7px;left:50%;margin-left:-7px;border-top:7px solid #cf5d5b;border-left:7px solid transparent;border-right:7px solid transparent;z-index: 9;}
.workstatusBar .taskBox .orange:before {display:block;content:"";position:absolute;bottom:-7px;left:50%;margin-left:-7px;border-top:7px solid #e4af4e;border-left:7px solid transparent;border-right:7px solid transparent;z-index: 9;}
.workstatusBar .taskBox .green:before {display:block;content:"";position:absolute;bottom:-7px;left:50%;margin-left:-7px;border-top:7px solid #98bf55;border-left:7px solid transparent;border-right:7px solid transparent;z-index: 9;}
.workstatusBar .taskBox .blue:before {display:block;content:"";position:absolute;bottom:-7px;left:50%;margin-left:-7px;border-top:7px solid #5e8fc1;border-left:7px solid transparent;border-right:7px solid transparent;z-index: 9;}
.workstatusBar .allBox > sc-button {background: #777777;text-align: center;border-radius: 8px;height: 36px;box-sizing: border-box;font-size: 14px;line-height: 2;}
/*allBox*/
.workstatusBar .allBox {display:flex;width:auto;height:inherit;margin-left:15px;margin-top:6px}
/*E*/
.workstatusBar .sechBox {display:flex;flex-direction:row-reverse;top:-1px;right:0;width:100%;height:inherit;}
.workstatusBar .sechBox .funcBtn {width:100%;height:51px;border:1px solid #d5d5d5;border-right:0;background:#fff;box-sizing:border-box;cursor:pointer;z-index:9;}
.workstatusBar .sechBox .newAdd {width:55px;background:#fff url(../img/ico_new_35_off.png) no-repeat center}
.workstatusBar .sechBox .taskSrch {width:55px;background:#fff url(../img/ico_search_35_off.png) no-repeat center}
.workstatusBar .sechBox .open {display:flex;position:absolute;top:0px;right:0;width:100%;z-index:9;}
.workstatusBar .sechBox .open h4 {width:70px;font-size:14px;color:#969caa;padding:15px 20px 0 70px;border-right:1px solid #e4e5eb}
.workstatusBar .sechBox .open h4.newAdd {background:url(../img/ico_new_35_on.png) no-repeat 20px center;}
.workstatusBar .sechBox .open h4.srch {background:url(../img/ico_search_35_on.png) no-repeat 20px center;}
.workstatusBar .sechBox .open>.work {display:flex;margin:9px 15px}
.workstatusBar .sechBox .open>.work>span {width:auto;height:32px;border-radius:8px;background:#5e8fc1;text-align:center;margin:0 5px}
.workstatusBar .sechBox .open>.work>span>b {font-size:14px;color:#fff;font-weight:bold;padding:20px;line-height:2}
.workstatusBar .sechBox .open>.search {display:flex;margin:5px 0px 5px 10px;}
.workstatusBar .sechBox .open>.search>.label {width:auto;height:22px;font-size:14px;color:#333;background:url(../img/bul_3_g.png) no-repeat left center;padding:0 20px 0 10px;font-weight:bold;line-height:1.5;margin-top:5px}
.workstatusBar .sechBox .open>.search input {height:35px;border:1px solid #c2c5cc;background:#f5f6f7;border-radius:3px;margin-right:10px;font-size:16px;padding-left:20px;box-sizing:border-box;}
.workstatusBar .sechBox .open>.search input::placeholder {color:#999;}
.workstatusBar .sechBox .open>.search>input.search {width:370px;}
.workstatusBar .sechBox .open>.search>button.search {width:50px;height:35px;border:1px solid #c2c5cc;border-radius:5px;background:#6c87c2 url(../img/ico_search_w.png) no-repeat center;cursor:pointer;box-sizing:border-box}
.workstatusBar .sechBox .open button.close {position:absolute;right:0;width:15px;height:50px;background:#979797 url(../img/arr_6x8_w.png) no-repeat center;border:0;top: 0px;}
.workstatusBar .sechBox .right55 {right:55px}
.workstatusBar .sechBox .calc55 {width:calc(100% - 55px);margin-right:55px}
.workstatusBar .sechBox .funcBtn .work sc-button.newBtn {background: #5e8fc1;  border-radius: 8px;  padding: 7px 8px;  line-height: 15px;  font-size: 14px;  font-weight: bold;margin: 0px 2px;}

cc-main-work-status .worksMain {position:relative;height:auto;margin: 30px;}
cc-main-work-status .worksMain .worksWrap {display:flex;flex-wrap:wrap;}
cc-main-work-status .worksMain .worksWrap .workBox {float:left;width:100px;height:120px;border-radius:5px;border:1px solid #eaeaea;box-shadow:0 3px 2px #ededed;padding:20px 0;box-sizing:border-box;line-height: 21px;}
cc-main-work-status .worksMain .worksWrap .workBox h4 {height:25px;font-size:13px;color:#888;padding-left:35px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;cursor:pointer;}
cc-main-work-status .worksMain .worksWrap .workBox p {cursor:pointer;}
cc-main-work-status .worksMain .worksWrap .workBox .wicon_1 {background:url(../img/ico_work_01.png) no-repeat 10px 2px}
cc-main-work-status .worksMain .worksWrap .workBox .wicon_2 {background:url(../img/ico_work_02.png) no-repeat 10px 2px}
cc-main-work-status .worksMain .worksWrap .workBox .wicon_3 {background:url(../img/ico_work_03.png) no-repeat 10px 2px}
cc-main-work-status .worksMain .worksWrap .workBox .wicon_4 {background:url(../img/ico_work_04.png) no-repeat 10px 2px}
cc-main-work-status .worksMain .worksWrap .workBox .wicon_5 {background:url(../img/ico_work_05.png) no-repeat 10px 2px}
cc-main-work-status .worksMain .worksWrap .workBox .wicon_6 {background:url(../img/ico_work_06.png) no-repeat 10px 2px}
cc-main-work-status .worksMain .worksWrap .workBox .wicon_7 {background:url(../img/ico_work_06.png) no-repeat 10px 2px} /*icon 필요*/
cc-main-work-status .worksMain .worksWrap .workBox .wicon_8 {background:url(../img/ico_work_01.png) no-repeat 10px 2px} /*icon 필요*/
cc-main-work-status .worksMain .worksWrap .workBox .count {font-size:25px;color:#222;line-height:1.2;padding:10px 25px;text-align:center;}
cc-main-work-status .worksMain .worksWrap .workBox .statusBar {position:relative;width:75%;height:6px;background:#f5f5f5;margin:0 auto}
cc-main-work-status .worksMain .worksWrap .workBox .statusBar span {display:inline-block;position:absolute;top:0;height:inherit;}
cc-main-work-status .worksMain .worksWrap .workBox .statusBar .red {left:0;width:30%;background:#cf5d5b;z-index:1;cursor:pointer;}
cc-main-work-status .worksMain .worksWrap .workBox .statusBar .orange {left:28%;width:50%;background:#e4af4e;z-index:1;cursor:pointer;}
cc-main-work-status .worksMain .worksWrap .workBox .statusBar .green {left:28%;width:50%;background:#92be47;z-index:1;cursor:pointer;}
cc-main-work-status .worksMain .worksWrap .arrowM_1 {float:left;min-width:40px;height:120px;background:url(../img/arr_h13_1.png) no-repeat right center}
cc-main-work-status .worksMain .worksWrap .arrowM_2 {float:left;min-width:40px;height:120px;background:url(../img/arr_h13_2.png) no-repeat left center}
cc-main-work-status .worksMain .worksWrap .arrowM_3 {float:left;min-width:40px;height:120px;background:url(../img/arr_h13_3.png) no-repeat left center}
cc-main-work-status .worksMain .worksWrap .arrowM_4 {float:left;min-width:40px;height:120px;}
cc-main-work-status .worksMain .worksWrap .workBox.on {border: 2px solid #cf5d5b;box-shadow: 0px 2px 3px hsla(0, 0%, 0%, 0.3)}/*2019.11.05 pjsuny*/
/* home widget - main-work-status : 2020.09.9 pjsuny*/
cc-main-work-status2 .panel {
	padding: 20px;
}
cc-main-work-status2 .worksMain {
	position: relative;
	height: auto;
}
cc-main-work-status2 .worksMain .worksWrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin-bottom: 20px;
}
cc-main-work-status2 .worksMain .worksWrap .workBox {
	flex: 0 0 130px;
	height: 120px;
    border-radius: 10px;
    border: 2px solid #b4b4b4;
    margin: 0 10px 10px;
    padding-top: 20px;
    box-sizing: border-box;    
}
cc-main-work-status2 .worksMain .worksWrap .workBox h4 { 
	font-size: 13px;
    color: #666;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 600;
}
cc-main-work-status2 .worksMain .worksWrap .workBox .count {	
	font-size: 26px;
    color: #111;
	line-height:1.2;
	padding:10px 25px;
	text-align:center;
	font-weight: 600;
    cursor: pointer;
}
cc-main-work-status2 .worksMain .worksWrap .workBox .statusBar {
	position: relative;
	width: 75%;
	height: 6px;
	background: #f5f5f5;
	margin: 0 auto;
}
cc-main-work-status2 .worksMain .worksWrap .workBox .statusBar span {
	display: inline-block;
	position: absolute;
	top: 0;
	height: inherit;
}
cc-main-work-status2 .worksMain .worksWrap .workBox .statusBar .red {
	left: 0;
	width: 30%;
	background: #cf5d5b;
	z-index: 1;
	cursor: pointer;
}
cc-main-work-status2 .worksMain .worksWrap .workBox .statusBar .orange {
	left: 28%;
	width: 50%;
	background: #e4af4e;
	z-index: 1;
	cursor: pointer;
}
cc-main-work-status2 .worksMain .worksWrap .workBox .statusBar .green {
	left: 28%;
	width: 50%;
	background: #92be47;
	z-index: 1;
	cursor: pointer;
	}
cc-main-work-status2 .worksMain .worksWrap .arrowM_1 {
	float: left;
	min-width: 40px;
	height: 120px;
/* 	background: url(../../lib/custom/html/workplace/img/arr_h13_1.png) no-repeat right center; */
	margin-top: 20px;
}
cc-main-work-status2 .worksMain .worksWrap .arrowM_2 {
	float: left;
	min-width: 40px;
	height: 120px;
/* 	background: url(../../lib/custom/html/workplace/img/arr_h13_2.png) no-repeat left center; */
	margin-top: 20px;
}
cc-main-work-status2 .worksMain .worksWrap .arrowM_3 {
	float: left;
	min-width: 40px;
	height: 120px;
/* 	background: url(../../lib/custom/html/workplace/img/arr_h13_3.png) no-repeat left center; */
	margin-top: 20px;
}
cc-main-work-status2 .worksMain .worksWrap .arrowM_4 {
	float: left;
	min-width: 40px;
	height: 120px;
	margin-top: 20px;
}
cc-main-work-status2 .worksMain .worksWrap .workBox.on {
	border: 2px solid #cf5d5b;
	box-shadow: 0px 2px 3px hsla(0, 0%, 0%, 0.3)
}

/* Work List */
.workTable {
  width: 100%;
  height: 122px;
  border-radius: 10px;
  background: #f9f9f9;
  box-sizing: border-box;
}
.workTable .top{
  float: left;
  width: 100%;
  height: 30px;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #dddddd;
  box-sizing: border-box;
}
.workTable .top p{
  font-size: 13px;
  color: #333;
  font-weight: 600;
  text-align: center;
  padding-top: 5px
}
.workTable .bot {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:88px;
  border-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #f9f9f9;
  box-sizing: border-box;
}
.workTable .bot div {
	flex: 1 0 auto;
	text-align: center;
}
.workTable .bot ul {
  display: flex;
  justify-content: center;
  border-right: 1px solid #d8d8db;
  min-height: 40px;
  margin-top: 25px;
}
.workTable .bot div:last-child ul {
  border-right: 0;
}
.workTable .bot li {
  float: left;
  box-sizing: border-box;
}
.workTable .bot li img {
  padding-right: 17px;
}
/* 지연 */
.workTable .bot .delay {
  font-size: 12px;
  color: #ff525e;
  text-align: center;
  font-weight: 600;
}
.workTable .bot .delay p:nth-child(2){
  min-width: 35px;
  font-size: 18px;
  color: #ff525e;
  text-align: center;
  font-weight: 600;
}
/* 임박 */
.workTable .bot .advent {
  font-size: 12px;
  color: #ffaa00;
  text-align: center;
  font-weight: 600;
}
.workTable .bot .advent p:nth-child(2){
  font-size: 18px;
  color: #ffaa00;
  text-align: center;
  font-weight: 600;
}
/* 일반 */
.workTable .bot .nomal {
  font-size: 12px;
  color: #31a959;
  text-align: center;
  font-weight: 600;
}
.workTable .bot .nomal p:nth-child(2){
  font-size: 18px;
  color: #31a959;
  text-align: center;
  font-weight: 600;
}
/* 신규 */
.workTable .bot .new {
  font-size: 12px;
  color: #4ba0d6;
  text-align: center;
  font-weight: 600;
}
.workTable .bot .new p:nth-child(2){
  font-size: 18px;
  color: #4ba0d6;
  text-align: center;
  font-weight: 600;
}
/* // home widget - main-work-status */
cc-sub-work-status .worksSub {position:relative;height:auto;margin: 30px 20px;}
cc-sub-work-status .worksSub .worksWrap {overflow:hidden;/*width:1200px;height:30px;padding-bottom:10px;*/z-index:1000;}
cc-sub-work-status .worksSub .worksWrap h4 {position:relative;float:left;width:90px;text-align:right;background:#fff;padding-bottom:0;margin:7px 0;cursor: pointer;}
cc-sub-work-status .worksSub .worksWrap h4>b {display:inline-block;width:65px;font-size:14px;color:#333;line-height:1.6;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;pointer-events: none;}
cc-sub-work-status .worksSub .worksWrap .rowWrap {display:flex;flex-wrap:wrap;overflow:hidden;padding: 0;padding-left:20px;}
cc-sub-work-status .worksSub .worksWrap .rowWrap .workCard {position:relative;width:108px;height:30px;border:1px solid #d9dadb;border-radius:8px;margin:5px 0;box-sizing:border-box;    }
cc-sub-work-status .worksSub .worksWrap .rowWrap .workCard span {display:inline-block;width:80px;font-size:12px;color:#b3b3b3;padding-left:27px;line-height:2.2;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;pointer-events: none;}
cc-sub-work-status .worksSub .worksWrap .rowWrap .assign {border:1px solid #d6d6c8;background:#e8f2ce;cursor: pointer;}
cc-sub-work-status .worksSub .worksWrap .rowWrap .assign span {color:#7b9046;font-weight:bold}
cc-sub-work-status .worksSub .worksWrap .rowWrap i {position:absolute;top:-1px;left:-1px;width:22px;height:30px;pointer-events: none;}
cc-sub-work-status .worksSub .worksWrap .rowWrap .workCard[data-wrnn_yn=Y] i.beforeIcon {background:#e8f2ce url(../img/lab_soon.png) no-repeat 0;pointer-events:initial;}
cc-sub-work-status .worksSub .worksWrap .rowWrap .workCard[data-dely_yn=Y] i.beforeIcon {background:#e8f2ce url(../img/lab_delay.png) no-repeat 0;pointer-events:initial;}
cc-sub-work-status .worksSub .worksWrap .rowWrap .workCard[data-new_yn=Y] i.afterIcon {position:absolute;top:-5px;left:87px;width:17px;height:17px;background:url(../img/ico_new_circle.png) no-repeat 0;pointer-events:initial;}
cc-sub-work-status .worksSub .worksWrap .rowWrap .arrowS_1 {float:left;min-width:25px;height:30px;background:url(../img/arr_h7_1.png) no-repeat right center;margin:5px 0}
cc-sub-work-status .worksSub .worksWrap .rowWrap .arrowS_2 {float:left;min-width:25px;height:30px;background:url(../img/arr_h7_2.png) no-repeat left center;margin:5px 0}
cc-sub-work-status .worksSub .worksWrap .rowWrap .arrowS_3 {float:left;min-width:25px;height:30px;background:url(../img/arr_h7_3.png) no-repeat left center;margin:5px 0}
cc-sub-work-status .worksSub .worksWrap .rowWrap .arrowS_4 {float:left;min-width:25px;height:30px;}
cc-sub-work-status .worksSub .worksWrap .rowWrap .spaceBox {width:27px;height:30px;}
cc-sub-work-status .circleB {display:inline-block;width:7px;height:7px;border:2px solid #5387bb;border-radius:50%;background:#fff;margin-left:10px;margin-top:9px;vertical-align:top;box-sizing:border-box;z-index:100}
cc-sub-work-status .hline2 {position:absolute;top:-5px;left:86px;width:1px;height:100%;background:#c3c4c5;z-index:0;}

cc-task-bar-chart {padding:10px;}
cc-task-bar-chart #chartTitle {font-size:15px;color:#111;background:url(../img/bul_3_g.png) no-repeat left;padding-left:8px;margin-left: 14px;margin-bottom:10px;}
cc-task-bar-chart #chartContainer {height:170px;width:100%;}

cc-task-line-chart {border-left: 1px solid #e4e5eb; padding: 10px;}
cc-task-line-chart .graphTab {position:relative;width:100%;height:30px;border-bottom:1px solid #e4e5eb}
cc-task-line-chart .graphTab ul {display:flex;flex-wrap:wrap;min-width:500px;height:inherit;overflow:hidden;}
cc-task-line-chart .graphTab ul li {position:relative;min-width:60px;padding:0 10px;text-align:center;margin-left:1px;box-sizing:border-box;}
cc-task-line-chart .graphTab ul li span {font-size:15px;color:#888;line-height:1.2;display: inline-block;}
cc-task-line-chart .graphTab ul li.on span, .graphTab ul li:hover span {color:#4b7abd;font-weight:bold;pointer-events: none;}
cc-task-line-chart .graphTab ul li.on, .graphTab ul li:hover {border-bottom:2px solid #4b7abd;cursor:pointer;}
cc-task-line-chart .graphTab .bar {position:absolute;top:6px;right:0;display:inline-block;width:1px;height:10px;background:#e4e5eb;}