/* -----------------------------------------
-- SMARTsutie v10 : Landing for Product Sorcing Manager
-- 1st : 2024.07.28 emro DesignTeam pjsuny
----------------------------------------- */

@charset "utf-8";


/* reset */
/*article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:after, blockquote:before, q:after, q:before {
	content:"";
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}*/

/* Wrap */
em-workplace-dashboard .landing-wrap {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 215px;
	gap: 12px;
}
em-workplace-dashboard .landing-wrap>div {
	display: grid;
	gap: 12px 16px;
	box-sizing: border-box;
}
em-workplace-dashboard .upper_panel {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 215px 378px;
}
em-workplace-dashboard .upper_panel>div:nth-child(1) {
	grid-column: 1/5;
}

em-workplace-dashboard .upper_panel>div:nth-child(8) {
	grid-column: 1/5;
}
em-workplace-dashboard .down_panel {
	grid-template-columns: 1fr 1fr 1fr;
}
/* Widget Box */
em-workplace-dashboard .landing_widget {
	/* border: 1px solid #E3E3E3; 2024.07.31 scyang */
	background: #FFF;
	/*padding: 16px 20px;*/
	padding: 16px 11px 16px 16px;
	box-sizing: border-box;
	line-height:1;
	height: 357px;
}
em-workplace-dashboard .landing_widget > h5 {
	color: #333;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 16px; /* 2024.07.31 scyang : 20px -> 16px */
}
em-workplace-dashboard .landing_widget > h5 > span {
	display: inline-block;
	font-weight: 400;
}
em-workplace-dashboard .landing_widget > .more {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
em-workplace-dashboard .landing_widget > .more > a {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: #ffffff;
}
em-workplace-dashboard .landing_widget > .more > a:hover {
	background: #5A2CCE;
}
em-workplace-dashboard .landing_widget > .more > a:hover > img {
	filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
}
em-workplace-dashboard .landing_widget > .content {
	width: 100%;
}
em-workplace-dashboard .landing_widget > .content > .data {
	color: #5A2CCE;
	text-align: right;
	font-size: 60px;
	font-weight: 600;
	line-height: 136px;
}
em-workplace-dashboard .landing_widget > .tab_bar {
	display: flex;
	justify-content: left;
	gap: 10px;
}
em-workplace-dashboard .landing_widget > .tab_bar > button {
	display: inline-block;
	width: auto;
	height: 25px;
	border-radius: 30px;
	border: 1px solid #989898;
	background: #FFFFFF;
	padding: 0 16px;
	font-size: 13px;
	color: #878787;
	cursor: pointer;
}
em-workplace-dashboard .landing_widget > .tab_bar > button.select,
em-workplace-dashboard .landing_widget > .tab_bar > button:hover {
	border: 1px solid #5A2CCE;
	background: #5A2CCE;
	color: #FFFFFF;
}
em-workplace-dashboard .landing_widget  > .tab_content{
	overflow: auto;
	max-height: 240px; /* 고정된 높이 설정 */
    overflow-y: auto; /* 수직 스크롤바 추가 */
    padding-right: 5px; /* 오른쪽 패딩 추가하여 스크롤바가 내용 가리지 않게 함 */
    box-sizing: content-box; /* 패딩을 박스 모델에 포함시키지 않음 */
    margin-top: 14px; /* 2024.07.31 scyang */
    padding-top: 0 !important; /* 2024.07.31 scyang */
}
em-workplace-dashboard .landing_widget > ul{
	list-style:none;
}
em-workplace-dashboard .landing_widget > .tab_content > ul li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 48px;
	border-bottom: 1px solid #D4D4D4;
	text-decoration: none;
	cursor: pointer; /* 커서를 손가락 모양으로 설정 */
}
em-workplace-dashboard .landing_widget > .tab_content > ul li a:hover {
	background: #f8f8f8;
}
em-workplace-dashboard .landing_widget > .tab_content > ul li b {
	width: 76%;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
em-workplace-dashboard .landing_widget >.tab_content > ul li  b,
em-workplace-dashboard .landing_widget >.tab_content > ul li a b,
em-workplace-dashboard .landing_widget > .tab_content > ul li a span {
	display: inline-block;
}
em-workplace-dashboard .landing_widget > .tab_content > ul li a b {
	width: 76%;
	color: #000;
	font-size: 12px;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
em-workplace-dashboard .landing_widget > .tab_content > ul li a span.taskTyp {
    width: 10%;
    color: #AEAEAE;
    font-size: 12px;
}
em-workplace-dashboard .landing_widget > .tab_content > ul li span.date {
	color: #AEAEAE;
	font-size: 12px;
}
em-workplace-dashboard .content.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
em-workplace-dashboard .content.grid.card4 {
	grid-template-columns: repeat(4, 1fr);
}
em-workplace-dashboard .content.grid > a,
.content.card > a,
.content.card4 > a {
	display: inline-block;
	height: 130px;
	padding: 20px 10px;
	box-sizing: border-box;
	text-decoration: none;
}
.content.card > a {

}
.content.card > a,
.content.card4 > a {
	background: #F3F3F3;
	border: 1px solid #F3F3F3;
}
.content.card > a:hover {
	border: 1px solid #194093;
}
.content.card4 > a:hover {
	border: 1px solid #5A2CCE;
}
em-workplace-dashboard .content.grid > a > h6 {
	position: relative;
	width: 100%;
	height: 30px;
	color: #333;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}
.content.card > a > h6:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: -3px;
	right: 0;
	width: 24px;
	height: 24px;
	/*background: url(../img/icon-arrow-right-s.svg) no-repeat;*/
}
em-workplace-dashboard .content.grid > a > h6 > span {
	font-size: 11px;
}
em-workplace-dashboard .content.grid > a > .data {
	color: #0A5FD9;
	text-align: center;
	font-size: 45px;
	font-weight: 600;
	margin-top: 12px;
}
.content.card > a > .data {
	color: #194093;
}
em-workplace-dashboard .content.grid.card4 > a > .data {
	color: #5A2CCE;
}
em-workplace-dashboard .content.vbar > a {
	position: relative;
}
em-workplace-dashboard .content.vbar > a:after {
	content:  '';
	display: inline-block;
	position: absolute;
	right: -12px;
	top: 20px;
	width: 2px;
	height: 100px;
	background: #E3E3E3;
}
em-workplace-dashboard .content.vbar > a:last-child:after {
	display: none;
}
em-workplace-dashboard .pdt10 {
	padding-top: 10px;
}
em-workplace-dashboard .pdt20 {
	padding-top: 20px;
}

/* Bar Chart sample Style */
em-workplace-dashboard .sample {
	position: relative;
	width: 100%;
	height: 80%;
}
em-workplace-dashboard .sample>div {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}
em-workplace-dashboard .sample>div>p {
	display: inline-block;
}
em-workplace-dashboard .sample>div.line {
	top: 0px;
	left: 0;
	gap: 10px;
	width: 95%;
}
em-workplace-dashboard .sample>.line>hr {
	width: 100%;
	height: 1px;
	border: 0;
	background: #E3E3E3;
}
em-workplace-dashboard .sample>div.number {
	left: 152px;
	top: 3px;
	gap: 18px;
	color: #B9B9B9;
	text-align: center;
	font-size: 9px;
}
em-workplace-dashboard .sample>.number>p {
	gap: 20px;
}
em-workplace-dashboard .sample>div.txt {
	width: 95%;
	flex-direction: row;
	bottom: 3px;
	color: #5E5E5E;
	font-size: 11px;
}
em-workplace-dashboard .sample>div.txt>p {
	width: 25%;
	text-align: center;
}
em-workplace-dashboard .chart.sample>.bar {
	flex-direction: row;
	justify-content: left;
	align-items: baseline;
	bottom: 29px;
	z-index: 99;
	margin-left: 10px;
}
em-workplace-dashboard .chart.sample>.bar p {
	width: 24px;
	margin: 0 25px;
}
/* Circle Chart */
em-workplace-dashboard .flex_c {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
}
em-workplace-dashboard .chart + .legend > p {
	display: flex;
	align-items: top;
	margin: 8px
}
em-workplace-dashboard .chart + .legend > p > b,
em-workplace-dashboard .chart + .legend > p > span {
	display: inline-block;
	margin-right: 10px;
}
em-workplace-dashboard .chart + .legend > p > span:nth-child(2) {
	width: 80px;
}
em-workplace-dashboard .chart + .legend > p > b {
	width: 10px;
	height: 10px;
	margin-top: 2px;
}
em-workplace-dashboard .chart + .legend > p > span {
	color: #5E5E5E;
	font-size: 12px;
	font-weight: 400;
}

/* 2024.07.31 scyang : add */
em-workplace-dashboard .hbox.dash-hbox {
	display: grid;
    grid-template-columns: 75% 1% 24%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
em-workplace-dashboard sc-panel.boxType {
    background: #fff;
    margin-bottom: 16px;
}
em-workplace-dashboard .wpPanel {
    margin-top: 0 !important;
}
em-workplace-dashboard .wpPanel >sc-toolbar.header {
    display: none;
}
em-workplace-dashboard .wpPanel .innerPanel>.tabBar {
	border-bottom: none !important;
}
em-workplace-dashboard sc-panel.boxType>sc-toolbar.header,
em-workplace-dashboard .wpPanel .innerPanel {
	border: none !important;
}
em-workplace-dashboard .wpPanel .innerPanel>.tabBar>a:hover {
	color: #5A2CCE !important;
}
em-workplace-dashboard .wpPanel .innerPanel>.tabBar>a.on {
	border-color: #5A2CCE !important;
    color: #5A2CCE !important;
}
em-workplace-dashboard sc-panel.boxType>sc-toolbar.header {
	padding-top: 16px !important;
    height: auto !important;
}
em-workplace-dashboard sc-panel.boxType.inner-title>sc-toolbar.header {
    display: none;
}
em-workplace-dashboard sc-panel.boxType.inner-title {
	height: calc(50% - 350px -32px);
}
em-workplace-dashboard sc-panel.boxType>sc-toolbar.header .title {
	font-size: 18px !important;
}
es-dashboard-task-list sc-panel {
	height: 360px !important;
}
em-workplace-dashboard sc-panel>sc-toolbar.header>sc-button {
	border: none !important;
	border-radius: 5px !important;
}
em-workplace-dashboard sc-panel>sc-toolbar.header>.collapsible:before {
	display: inline-block;
	padding-top: 2px;
}
