<dom-module id="es-survey-template-basic-form">
	<style>
		:host {
			@apply(--vbox-layout);
		}
	</style>
	
	<template>
		<cc-sub-title-bar title-text="기본정보"></cc-sub-title-bar>
		<cc-form-panel id="basic" validation-group="info" column="1">
			<cc-fieldset>
				<sc-label text="설문 유형"></sc-label>
				<sc-combobox-field display-field="label" value-field="data" items="{{codes.survTypCcd}}" value="{{surveyTemplate.surv_typ_ccd}}" placeholder="선택" required="true" selected-index="0" on-select="onSelectSurvTyp" readonly="[[!formula('editable')]]"></sc-combobox-field>
			</cc-fieldset>
			<cc-fieldset>
				<sc-label text="설문 템플릿 명"></sc-label>
				<cc-text-language-field id="focusField" value="{{surveyTemplate.surv_tmpl_nm}}" max-length="50" required="true" readonly="[[!formula('editable')]]"></cc-text-language-field>
			</cc-fieldset>
			<cc-fieldset>
				<sc-label text="레이아웃"></sc-label>
				<sc-combobox-field display-field="label" value-field="data" items="{{codes.lytCcd}}" value="{{surveyTemplate.lyt_ccd}}" placeholder="선택" readonly="true" required="true" selected-index="0"></sc-combobox-field>
			</cc-fieldset>
			<cc-fieldset>
				<sc-label text="설문 기간"></sc-label>
				<div class="field-box">
					<span>[[translate('작성 시점으로부터')]]</span>
					<sc-number-field value="{{surveyTemplate.elem_pd_val}}" max-length="3" min-value="0" max-value="100"
									 regex="/^[0-9]+$/" input-cover="true" hide-trigger="true" format-type="integer" class="w-60 align-right" style="padding-right: 5px;"
									 readonly="[[!formula('editable')]]">
					</sc-number-field>
					<sc-combobox-field class="w-80" display-field="label" value-field="data" items="{{codes.elemPdTypCcd}}" value="{{surveyTemplate.elem_pd_typ_ccd}}" placeholder="선택" selected-index="0" readonly="[[!formula('editable')]]"></sc-combobox-field>
				</div>
			</cc-fieldset>
			<cc-fieldset>
				<sc-label text="통계 방식"></sc-label>
				<sc-combobox-field display-field="label" value-field="data" items="{{codes.statMethCcd}}" value="{{surveyTemplate.stat_meth_ccd}}" placeholder="선택" required="true" selected-index="0" on-select="onSelectStatMeth" readonly="[[!formula('editable')]]"></sc-combobox-field>
			</cc-fieldset>
			<cc-fieldset>
				<sc-label text="통계 기준 점수"></sc-label>
				<sc-number-field value="{{surveyTemplate.stat_crtra_sc}}" max-length="4" min-value="0" max-value="1000" readonly="[[!formula('editableStatMeth')]]"
								 regex="/^[0-9]+$/" input-cover="true" hide-trigger="true" format-type="integer" class="w-100 align-right" readonly="[[!formula('editable')]]">
				</sc-number-field>
			</cc-fieldset>
			<!--<cc-fieldset>
				<sc-label text="섹션 순서 무작위 여부"></sc-label>
				<sc-checkbox-field input-value="{{surveyTemplate.sect_ord_rand_yn}}" default-input-value="N" checked-value="Y" un-checked-value="N" readonly="[[!formula('editable')]]"></sc-checkbox-field>
			</cc-fieldset>
			<cc-fieldset>
				<sc-label text="질문 순서 무작위 여부"></sc-label>
				<sc-checkbox-field input-value="{{surveyTemplate.qn_ord_rand_yn}}" default-input-value="N" checked-value="Y" un-checked-value="N" readonly="[[!formula('editable')]]"></sc-checkbox-field>
			</cc-fieldset>-->
			<cc-fieldset>
				<sc-label text="답변 순서 무작위 여부"></sc-label>
				<sc-checkbox-field input-value="{{surveyTemplate.ans_ord_rand_yn}}" default-input-value="N" checked-value="Y" un-checked-value="N" readonly="[[!formula('editable')]]"></sc-checkbox-field>
			</cc-fieldset>
			<cc-fieldset>
				<sc-label text="질문 번호 표시 여부"></sc-label>
				<sc-checkbox-field input-value="{{surveyTemplate.qn_no_dspy_yn}}" default-input-value="N" checked-value="Y" un-checked-value="N" readonly="[[!formula('editable')]]"></sc-checkbox-field>
			</cc-fieldset>
			<cc-fieldset>
				<sc-label text="앞 표지 여부"></sc-label>
				<sc-checkbox-field input-value="{{surveyTemplate.front_cover_yn}}" default-input-value="N" checked-value="Y" un-checked-value="N" on-checkchange="onChangeCoverYn" readonly="[[!formula('editable')]]"></sc-checkbox-field>
			</cc-fieldset>
			<cc-fieldset>
				<sc-label text="뒤 표지 여부"></sc-label>
				<sc-checkbox-field input-value="{{surveyTemplate.back_cover_yn}}" default-input-value="N" checked-value="Y" un-checked-value="N" on-checkchange="onChangeCoverYn" readonly="[[!formula('editable')]]"></sc-checkbox-field>
			</cc-fieldset>
		</cc-form-panel>
	</template>
	
	<script>
		Polymer({
			is: "es-survey-template-basic-form",
			properties: {
				codes: {
					type: Object,
					reset: false,
					value: function() {
						return {};
					}
				},
				surveyTemplate: {
					type: Object,
					value: function() {
						return {};
					}
				},
				editable: {
					type: Object,
					observer: "editableChanged",
					value: function() {
						return true;
					}
				}
			},
			formulas: {
				editable: function() {
					return this.editable;
				},
				editableStatMeth: function() {
					return this.surveyTemplate.stat_meth_ccd === "MINUS" && this.formula('editable');
				}
			},
			
			load: function(surveyTemplate) {
				var me = this;
				me.set("loadCompleted", true);
				me.set("surveyTemplate", surveyTemplate);
				me.applyFormula();
				me.$.focusField.focus();
			},
			
			onChangeCoverYn: function() {
				this.fire("change-cover");
			},
			
			onSelectSurvTyp: function() {
				this.fire("change-surv-typ")
			},
			
			onSelectStatMeth: function() {
				var me = this;
				var statMethCcd = me.surveyTemplate.stat_meth_ccd;
				if(statMethCcd === "NA" || statMethCcd === "PLUS") {
					me.set("surveyTemplate.stat_crtra_sc", null);
				}
				me.applyFormula();
			},
			
			removeCover: function(type) {
				var me = this;
				me.set("surveyTemplate." + type + "_cover_yn", "N");
			},
			
			validator: function() {
				var me = this;
				if(!me.validate("info")) {
					UT.alert("STD.E0000");
					return false;
				}
				return true;
			},
			
			editableChanged: function(value) {
				this.applyFormula();
			},
			
			get getSubjects() {
				return {};
			}
		})
	</script>
</dom-module>